body{
	margin-top : 0px;
	margin-left : 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size : 11px;
	color : #3e3e3e;
	line-height : 16px;
	font-family : Verdana,  Arial, Helvetica, sans-serif;
}
table{
	font-size : 11px;
	color : #3e3e3e;
	line-height : 16px;
	font-family : Verdana,  Arial, Helvetica, sans-serif;
}

.normal{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	line-height : 16px;
}

.TEXT_footer{font-family: Tahoma, Arial, Helvetica, sans-serif;font-size : 11px;color: #868686;}
.TEXT_PortraitHeader{font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 16px;color : #ba9131; font-weight:900;}
.TEXT_RedHighlight{font-family : Tahoma, Arial, Helvetica, sans-serif;	font-size : 11px;color : #b71000;}
.TEXT_homeContainer{font-size : 11px;color : #a87b50;line-height : 16px;font-family : Verdana,  Arial, Helvetica, sans-serif;}
.TEXT_fakelink {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #435e9d; font-size: 11px;}
.TEXT_PMS_blue {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #41599c; font-size: 11px;}
.TEXT_PMS_gold {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #b68c30; font-size: 11px;}
.TEXT_PMS_gold_small {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #b68c30; font-size: 10px;}
.TEXT_white {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #ffffff; font-size: 11px;}
.TEXT_black {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000; font-size: 11px;}
.TEXT_PMS_goldWelcome {font-family: Verdana, Geneva, sans-serif; color: #b68c30; font-size: 13px; font-weight:bold;}
.gold_bottom_border {border-bottom: 1px solid #b68c30;}

/* form styles */
.form 				{font-family:verdana,arial,helvetica; font-size: 12px;}
.form_input 		{font-family:verdana; font-size:11px; color:#006ea3; Border: solid 1px1 #BaBaBa; background-color: #b0d137;}
.form_input_small 	{font-family:verdana; font-size:9px; color:#000000; Border: solid 1px1 #BaBaBa;}
.form_radio 		{font-family:verdana; font-size:11px; color:#000000; Border: none;}
.form_submit		{font-family:verdana; font-size:11px; color:#000000; border: solid 1px1 #BaBaBa;}

/* link styles */
A:link {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #435e9d;font-size: 11px; text-decoration:underline;}
A:visited {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #435e9d;font-size: 11px; text-decoration:underline;}
A:hover {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color: #3e3e3e;font-size: 11px; text-decoration:none;}

A.LINK_subNavActive:link {font-family: Arial, Helvetica, sans-serif;color: #ba9131;font-size: 13px;text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNavActive:visited {font-family: Arial, Helvetica, sans-serif;color: #ba9131;font-size: 13px; text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNavActive:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 13px; text-decoration:none;padding-left:15px;font-weight:600;}

A.LINK_subNav:link {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 13px;text-decoration:none;padding-left:28px;font-weight:600;}
A.LINK_subNav:visited {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 13px; text-decoration:none;padding-left:28px;font-weight:600;}
A.LINK_subNav:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 13px; text-decoration:none;padding-left:28px;font-weight:600;}

A.LINK_subNav2:link {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 12px;text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNav2:visited {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 12px; text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNav2:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 12px; text-decoration:none;padding-left:15px;font-weight:600;}

A.LINK_subNav2Active:link {font-family: Arial, Helvetica, sans-serif;color: #ba9131;font-size: 12px;text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNav2Active:visited {font-family: Arial, Helvetica, sans-serif;color: #ba9131;font-size: 12px; text-decoration:none;padding-left:15px;font-weight:600;}
A.LINK_subNav2Active:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 12px; text-decoration:none;padding-left:15px;font-weight:600;}

A.LINK_subNav3:link {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 11px;text-decoration:none;font-weight:600;}
A.LINK_subNav3:visited {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 11px; text-decoration:none;font-weight:600;}
A.LINK_subNav3:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 11px; text-decoration:none;font-weight:600;}

A.LINK_subNav4:link {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 12px;text-decoration:none; font-weight:600;}
A.LINK_subNav4:visited {font-family: Arial, Helvetica, sans-serif;color: #435e9d;font-size: 12px; text-decoration:none; font-weight:600;}
A.LINK_subNav4:hover {font-family:  Arial, Helvetica, sans-serif;color: #ba9131;font-size: 12px; text-decoration:none; font-weight:600;}

A.LINK_footer:link {font-family: Tahoma, Arial, Helvetica, sans-serif;font-size : 11px;color: #868686; text-decoration:underline;}
A.LINK_footer:visited {font-family: Tahoma, Arial, Helvetica, sans-serif;font-size : 11px;color: #868686;text-decoration:underline;}
A.LINK_footer:hover {font-family: Tahoma, Arial, Helvetica, sans-serif;font-size : 11px;color: #868686;text-decoration:underline;}

H1 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color:#ba9131; 
font-size:14px;
margin:0;
padding:0;
display: inline;
} 

H2 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color:#ba9131; 
font-size:12px;
margin:0;
padding:0;
display: inline;
} 

H3 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color:#ba9131; 
font-size:11px;
margin:0;
padding:0;
display: inline;
} 

#bannerparent  {
	width: 950px;
	overflow: hidden;
	margin: 50px auto 0px auto;
	background: white;
}

#bannerparent1  {
	width: 950px;
	overflow: hidden;
	margin: -10px auto 50px auto;
	background: white;
}

#bannercontainer, #bannercontainer1 {
	width: 1250px;
	background: white;
}

.photobanner {
	height: 55px;
	width: 1050px;
	margin-bottom: 0px;
	overflow: hidden;
	display: none;
}

.photobanner img {
	display: inline-block;
}

.photobanner1 {
	height: 18px;
	width: 1050px;
	margin-bottom: 0px;
	overflow: hidden;
}

.photobanner1 img {
	width: 159px;;
}

/*keyframe animations*/
.first {
-webkit-animation: bannermove 50s linear infinite;
	-moz-animation: bannermove 50s linear infinite;
	-ms-animation: bannermove 50s linear infinite;
		-o-animation: bannermove 50s linear infinite;
		animation: bannermove 50s linear infinite;
}

@keyframes "bannermove" {
0% {
	margin-left: 0px;
}
100% {
	margin-left: -3858px;
}

}

@-moz-keyframes bannermove {
0% {
	margin-left: 0px;
}
100% {
	margin-left: -3858px;
}

}

@-webkit-keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -3858px;
	}
}

@-ms-keyframes "bannermove" {
0% {
	margin-left: 0px;
}
100% {
	margin-left: -3858px;
}

}

@-o-keyframes "bannermove" {
0% {
	margin-left: 0px;
}
100% {
	margin-left: -3858px;
}

}








